body{
font-family: Roboto;
}

h4{
  line-height: 3;
}
/* NAVBAR */
.navbar{
  border-bottom: 1px solid;
  margin-bottom: 2rem;
}

.navbar-exterior{
  padding: 0 20px;
  margin: 0;
}

.navbar-interior{
  padding: 0;
}

.navbar-brand{
  font-weight: 700;
  font-size: 2rem;
}

.navbar-item{
  padding: 0 10rem;
  font-weight: 300;
}


.navbar-nav{
  padding-right: 18rem;
}

.SineMkt{
  color: #FFBF00;
}

/* CAROUSEL */

#carouselExampleSlidesOnly{
  height: 80%;
  width: 80%;
}

/* HEADER DIV (NON-PICTURE) */
.header-price{
  margin-left: 10px;
}

/* MIDDLE ELLIPSIS */
.fa-ellipsis{
  color: #FFBF00;
}

.ellipsis1{
  margin: 4rem auto;
  text-align: center;
}

.ellipsis2{
  text-align: center;
  margin-bottom: 4rem;
}

.bedroom-img{
  width: 100%;
  height: 100%;
  position: relative;
}

.z-index{
  width: auto;
  position: relative;
  z-index: 1;
  bottom: 300px;
  text-align: center;
}

.clients{
  padding: 0;
  margin: 0;
  color: #a8a8a6;
  text-align: center;
}

.row{
  padding: 0;
  margin: 0;
}

.clients-img{
  text-align: center;
  padding: 5%;
}

.clients-text{
  margin-bottom: 3%;
}

.contact{
  padding: 0;
  margin: 0;
}

.contact-text{
  padding: 5%;
  color: #808080;
  text-align: center;
}

.footer{
  padding: 5%;
  text-align: center;
  color: #808080;
}

.footer-font-awesome{
  color: #808080;
  margin: 10px;
}

.footer-font-awesome:hover{
  color: #FFBF00;
}

.contact-link{
  text-decoration: none;
  color: #808080;
}

.contact-link:hover{
  color: #FFBF00;
}
