body{
font-family: Roboto;
}


/* NAVBAR */
.navbar{
  border-bottom: 1px solid;
  margin-bottom: 2rem;
}

.navbar-exterior{
  padding: 0 20px;
  margin: 0;
}

.navbar-interior{
  padding: 0;
}

.navbar-brand{
  font-weight: 700;
  font-size: 2rem;
}

.navbar-item{
  padding: 0 10rem;
  font-weight: 300;
}


.navbar-nav{
  padding-right: 18rem;
}

.SineMkt{
  color: #FFBF00;
}

/* CAROUSEL */

#carouselExampleSlidesOnly{
  height: 80%;
  width: 80%;
}

/* HEADER DIV (NON-PICTURE) */
.header-price{
  margin-left: 10px;
}

.fa-hammer{
  margin: 3rem 50%;
}
