body{
font-family: Roboto;
}
/* NAVBAR */
.navbar{
  border-bottom: 1px solid;
  margin-bottom: 2rem;
}

.navbar-exterior{
  padding: 0 20px;
  margin: 0;
}

.navbar-interior{
  padding: 0;
}

.navbar-brand{
  font-weight: 700;
  font-size: 2rem;
}

.navbar-item{
  padding: 0 10rem;
  font-weight: 300;
}


.navbar-nav{
  padding-right: 18rem;
}

.SineMkt{
  color: #FFBF00;
}

/* FOOTER */
.footer{
  padding: 5%;
  text-align: center;
  color: #808080;
}

.footer-font-awesome{
  color: #808080;
  margin: 10px;
}

.footer-font-awesome:hover{
  color: #FFBF00;
}

/* PAGE CONTENT */
h2{
  line-height: 3;
}

h5{
  line-height: 2;
}

.page-content{
  color: #808080;
  margin: 0;
  padding: 0;
}

.h2-heading{
  text-align: center;
}

.col-lg-3{
  text-align: center;
  padding: 2%;
}

.div-img-top-mother{
  padding: 20%;
}

.row{
  margin: 3% 0 10%;
  padding: 5%;
}
