body{
font-family: Roboto;
color: #808080;
}
/* NAVBAR */
.navbar{
  border-bottom: 1px solid;
  margin-bottom: 2rem;
}

.navbar-exterior{
  padding: 0 20px;
  margin: 0;
}

.navbar-interior{
  padding: 0;
}

.navbar-brand{
  font-weight: 700;
  font-size: 2rem;
}

.navbar-item{
  padding: 0 10rem;
  font-weight: 300;
}


.navbar-nav{
  padding-right: 18rem;
}

.SineMkt{
  color: #FFBF00;
}

/* FOOTER */
.footer{
  padding: 5%;
  text-align: center;
  color: #808080;
}

.footer-font-awesome{
  color: #808080;
  margin: 10px;
}

.footer-font-awesome:hover{
  color: #FFBF00;
}

/* PAGE CONTENT */
h2{
  line-height: 3;
}

img{
margin-bottom: 5%;
}

p{
display: inline-block;
}


a{
  text-decoration: none;
  color: #808080;
}

a:hover{
  color: #FFBF00;
}

.h2-heading{
  text-align: center;
}

.row{
  margin: 0;
  padding: 5%;
}

.col-lg-3{
  text-align: center;
  padding: 2%;
}

.rating-stars{
  display: inline-block;
}

.rating-stars-colored{
  color: #FFBF00;
  display: inline-block;
}

.footer-paragraph{
  display: block;
}
